<article
  class="mw5 center bg-light-green br3 pa3 pa4-ns mv3 ba b--black-10 {{
    isEven && applyEvenStyle()
  }}"
  *ngIf="robot"
>
  <div class="tc">

    <img
      src="{{ robot.iconUrl }}"
      class="br-100 h4 w4 dib ba b--red-05 pa2"
      title="Photo of a {{ robot.name }}"
      *ngIf="isImageVisible() else noImage"
    />
    <ng-template #noImage>
      <p>No image available</p>
    </ng-template>
    <h1 class="f3 mb2">{{ robot.name }}</h1>
    <h2 class="f5 fw4 gray mt0">{{ robot.email }}</h2>
  </div>

  <div class="robot-set" [ngSwitch]="robot.set">
    <a class="f7 link dim ba ph1 pv1 mb1 dib black" href="#0" *ngSwitchCase="robotSets.SET1">{{ROBOT_TYPE.REGULAR}}</a>
    <a class="f7 link dim ba ph1 pv1 mb1 dib black" href="#0" *ngSwitchCase="robotSets.SET2">{{ROBOT_TYPE.MONSTER}}</a>
    <a class="f7 link dim ba ph1 pv1 mb1 dib black" href="#0" *ngSwitchCase="robotSets.SET3">{{ROBOT_TYPE.DISEMBODIED}}</a>
    <a class="f7 link dim ba ph1 pv1 mb1 dib black" href="#0" *ngSwitchCase="robotSets.SET4">{{ROBOT_TYPE.KITTEN}}</a>
    <a class="f7 link dim ba ph1 pv1 mb1 dib black" href="#0" *ngSwitchCase="robotSets.SET5">{{ROBOT_TYPE.HUMAN}}</a>
  </div>

  <button
    class="f6 link dim ph3 pv2 mb2 dib white bg-dark-blue"
    (click)="onRobotClicked()"
  >
    View Robot
  </button>
</article>
