<div class="tc">
  <h1>RobotFriends</h1>
  <div className="pa2">
    <input
      type="search"
      class="pa3 ba b--green bg-lightest-blue"
      placeholder="search robots"
      #robotSearch
    />
  </div>
  <div class="scroll" *ngIf="robots.length; else emptyTemplate">
    <robot-card
      *ngFor="let robot of robots; even as isEven; odd as isOdd; first as isFirst; trackBy: robotTrackBy;"
      [robot]="robot"
      [isEven]="isEven"
      [isOdd]="isOdd"
      [isFirst]="isFirst"
    />
  </div>
  
  <ng-template #emptyTemplate class="scroll">
    <div class="scroll">
      <p>No robots available!</p>
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet>
